<app-toast [message]="toast.message"></app-toast>

<div class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper" style='position:relative;top:-16px;padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px'>

    <!-- Main Header -->
    <div class="main-header" style='padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px'>

      <aside class="main-sidebar">
        <div style='position:relative;top:-30px;padding-left:16px;margin:auto;'>
          <a href="index.html"><img src="assets/images/inocove-logosm.png"></a>
        </div>
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar Menu -->
          <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Influencer Dashboard</li>
            <li><a routerLink="/influencerboard" routerLinkActive="active"><span>Home</span></a></li>
            <li class="active"><a routerLink="/influencercamp" routerLinkActive="active"><span>Campaigns</span></a></li>
            <li><a routerLink="/influsearchbrand" routerLinkActive="active"><span>Brands</span></a></li>
            
            <li><a routerLink="/influencermessages" routerLinkActive="active"><span>Messages</span></a></li>
            <li><a routerLink="/influencercontent" routerLinkActive="active"><span>Content</span></a></li>
        </ul>
          <!-- /.sidebar-menu -->
        </section>

        <!-- /.sidebar -->
      </aside>


      <!-- Header Navbar -->
      <nav class="navbar" role="navigation" style='padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;height:40px;'>
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu" style='padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px'>
          <ul class="nav navbar-nav" style='padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px'>
            <li><a routerLink="/influencerboard" routerLinkActive="active"><span>Home</span></a></li>
            <li><a routerLink="/influencercamp" routerLinkActive="active"><span>Campaigns</span></a></li>
            <li><a routerLink="/influsearchbrand" routerLinkActive="active"><span>Brands</span></a></li>
            
            <li><a routerLink="/influencermessages" routerLinkActive="active"><span>Messages</span></a></li>
            <li><a routerLink="/influencercontent" routerLinkActive="active"><span>Content</span></a></li>
            
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
              <!-- Menu Toggle Button -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!-- The user image in the navbar-->
                <img src="assets/images/profile/{{this.auth.currentUser._id}}.png" class="user-image" alt="UI">
                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                <span class="hidden-xs">{{this.auth.currentUser.username}}</span>
              </a>
              <ul class="dropdown-menu">
                <!-- The user image in the menu -->
                <li class="user-header">
                  <img src="assets/images/profile/{{this.auth.currentUser._id}}.png" class="img-circle" alt="UI">

                  <p>
                      {{this.auth.currentUser.username}}
                   
                  </p>
                </li>

                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                      <a routerLink="/influencerprofile" routerLinkActive="active" class="btn btn-default btn-flat">Profile</a>
                      
                  </div>
                  <div class="pull-right">
                    <a routerLink="/logout" routerLinkActive="active" class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>

          </ul>
        </div>
      </nav>
    </div>
    <!-- Left side column. contains the logo and sidebar -->


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Campaigns
        </h1>

      </section>

      <!-- Main content -->
      <section class="content container-fluid" style="min-height:650px">


        <div class="inner" style="width:100%">
          <div class="card" style="width:100%;">
            <h6 class="card-header" style="background-color: #808080">Working Campaigns</h6>
            <div class="card-block" style="height:300px;overflow:scroll;" >
                <ul><div *ngIf='assignedcampaigns.length === 0'>You do not have any campaigns assigned at this time.</div>
                    <li *ngFor="let camp of assignedcampaigns; let id=index;" style="padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;" >
                        <div class="container" style="padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;" >
                            <div class=row style="border-color: #3c8dbc;position:relative;   padding-top:16px;padding-right:0px;padding-left:0px;padding-bottom:0px;" >
                              <div class="form-group col-sm-4">
                               {{id+1}}      {{ camp.campaignname }}</div>
                              <div class="form-group col-sm-4">
                               <button type="button" class="btn" data-toggle="modal" attr.data-target="#myModal{{ id }}">View Details</button>
                               <!--  <span style="cursor: pointer;" type="button" class="badge badge-white" data-toggle="modal" attr.data-target="#myModal{{id}}">View Details</span>-->
                              </div>
                              <div class="form-group col-sm-4">
                                <button type="button" class="btn-link" data-toggle="modal" attr.data-target="#myContentModal{{ id }}">Submit Content</button>
                                <!--  <span style="cursor: pointer;" type="button" class="badge badge-white" data-toggle="modal" attr.data-target="#myModal{{id}}">View Details</span>-->
                               </div>
                            </div>
                          </div>
                        <!-- Modal -->
                        <div id="myModal{{ id }}" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                        
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{ camp.campaignname }}</h4>
                              </div>
                              <div class="modal-body">
                                  
                                  <p style="background-color: #F0F0F0">Channel: {{ camp.channel}}</p>
                                  <p style="background-color: #A2D7F7">Details: {{ camp.details}}</p>
                                  <p style="background-color: #F0F0F0">Content Type: {{ camp.contenttype}}</p>
                                  <p style="background-color: #A2D7F7">Secondary Channel: {{ camp.secchannel}}</p>
                                  
                                  <p style="background-color: #F0F0F0">Website URL: {{ camp.websiteurl}}</p>
                                  <p style="background-color: #A2D7F7">Product URL: {{ camp.producturl}}</p>
                                  <p style="background-color: #F0F0F0">Shipping Products: {{ camp.shippingproducts}}</p>
                                  <p style="background-color: #A2D7F7">Product Category: {{ camp.productcategory}}</p>
                                  <p style="background-color: #F0F0F0">Budget: ${{ camp.budget}}</p>
                                  <p style="background-color: #A2D7F7">Deadline: {{ camp.deadline}}</p>
                                  <p style="background-color: #F0F0F0">No of Influencers: {{ camp.noofinfu}}</p>
                                  <p style="background-color: #A2D7F7">Audience Gender: {{ camp.audiencegender}}</p>
                                  <p style="background-color: #F0F0F0">Audience Age: {{ camp.audienceage}}</p>
                                  <p style="background-color: rgb(162, 247, 205)">Approved Amount: ${{ camp.approvedamount}}</p>
                                  
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                        
                          </div>
                        </div> 
                      



                        <div id="myContentModal{{ id }}" class="modal fade" role="dialog">
                          <div class="modal-dialog" >
                              <form [formGroup]="submitContentForm" (ngSubmit)="submitContentToCampaign(camp.userid,camp.campaignname,camp._id )" > 
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Content submitted By {{this.auth.currentUser.username}}</h4>
                              </div>
                              <div class="modal-body">
                                  <div class="container">        
                                   <label >For Campaign: {{camp.campaignname}}</label>                 
                                  <div class="row" style="background-color:#ffffff;">
                                                       
                                      <!--div class="form-group col-sm-6" style="background-color:#ffffff;" [ngClass]="setMessageDetails()">
                                        <label >Link:</label>
                                        <textarea class="form-control" type="textarea" name="messagedetails" formControlName="messagedetails" placeholder=""></textarea>
                                      </div-->
                                      <div class="form-group col-sm-6"  [ngClass]="setContentType()">
                                        <label for="sel1">Content Type:</label> 
                                           <select class="form-control" name="contenttype" formControlName="contenttype" placeholder="" id="sel1">
                                              <option>YouTube</option>
                                              <option>Facebook</option>
                                              <option>Instagram</option>
                                            </select>
                                      </div>
                                      <!--div class="form-group col-sm-6" style="background-color:#ffffff;" [ngClass]="setContentType()">
                                          <label>Type:</label>
                                          <textarea class="form-control" type="textarea" name="contenttype" formControlName="contenttype" placeholder=""></textarea>
                                        </div-->
                                      <div class="form-group col-sm-6" style="background-color:#ffffff;" [ngClass]="setContentLink()">
                                          <label>Content Link:</label>
                                          <textarea class="form-control" type="textarea" name="contentlink" formControlName="contentlink" placeholder=""></textarea>
                                      </div>

                                    </div>
                                    <div class=row>
                                      <div class="form-group col-sm-12">
                                          <div class="container">
                                              <!--UPLOAD-->
                                              <form #f="ngForm" enctype="multipart/form-data" novalidate
                                                *ngIf="currentStatus === STATUS_INITIAL || currentStatus === STATUS_SAVING">
                                                <label>Upload Profile Image</label>
                                                <div class="dropbox">
                                                  <input type="file" multiple
                                                    [name]="uploadFieldName" (change)="filesChange($event.target.name, $event.target.files)" 
                                                    [disabled]="currentStatus === STATUS_SAVING" accept="image/*" #photos>
                                                  <p *ngIf="currentStatus === STATUS_INITIAL">
                                                    Drag your file(s) here to begin<br>
                                                    or click to browse
                                                  </p>
                                                  <p *ngIf="currentStatus === STATUS_SAVING">
                                                    Uploading {{ photos.files.length }} files... 
                                                  </p>
                                                </div>
                                              </form>
                                              <!--SUCCESS-->
                                              <div class="margin-20" *ngIf="currentStatus === STATUS_SUCCESS">
                                                <h2>Uploaded {{ uploadedFiles.length }} file(s) successfully.</h2>
                                                <p>
                                                  <a href="javascript:void(0)" (click)="reset()">Upload again</a>
                                                </p>
                                               
                                              </div>
                                              <!--FAILED-->
                                              <div class="margin-20" *ngIf="currentStatus === STATUS_FAILED">
                                                <h2>Uploaded failed.</h2>
                                                <p>
                                                  <a href="javascript:void(0)" (click)="reset()">Try again later.</a>
                                                </p>
                                               
                                              </div>
                                            </div>
                                      </div>
                                  </div>

                                  </div>
                                 
                              </div>
                              <div class="modal-footer">
                                <button  type="submit" class="btn btn-primary" ><i class="fa"></i>Submit Content</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                
                              </div>
                            </div> 
                          </form>
                          </div>
                        </div>
                    </li>
                   </ul>
            </div>
          </div>
        </div>
       
        <div class="inner" style="width:100%">
            
          <div class="card" style="width:100%;">
            <h6 class="card-header" style="background-color: #808080">Search Campaigns</h6>
            <div class="card-block">
              <form [formGroup]="searchCampaignForm" (ngSubmit)="searchCampaign()">
                <div class="container">
                  <div class=row>
                    <div class="form-group col-sm-3"  [ngClass]="setChannel()">
                      <label for="sel1">Channel:</label>
                      <select class="form-control" name="channel" formControlName="channel" placeholder="" id="sel1">
                        <option></option>
                        <option>YouTube</option>
                        <option>Facebook</option>
                        <option>Instagram</option>
                      </select>
                    </div>
                    <div class="form-group col-sm-3" [ngClass]="setContentType1()">
                      <label for="sel1">Content Types:</label>
                      <select class="form-control" name="contenttype1" formControlName="contenttype1" placeholder=""  id="sel1">
                          <option></option>  
                        <option>Mention</option>
                          <option>Tutorial</option>
                          <option>Unboxing</option>
                          <option>Comedic Video</option>
                          <option>Product Palacement</option>
                          <option>Gaming</option>
                          <option>Endorsements</option>
                                                    
                      </select>
                    </div>
                    <div class="form-group col-sm-3"  [ngClass]="setSecchannel()">
                      <label for="sel1">Secondary Channel:</label> 
                          <select class="form-control" name="secchannel" formControlName="secchannel" placeholder="" id="sel1">
                              <option></option>
                            <option>None</option>  
                            <option>YouTube</option>
                            <option>Facebook</option>
                            <option>Instagram</option>
                          </select>
                    </div>
                    <div class="col-sm-3 form-group" [ngClass]="setCampaignName()">
                        <label  style="background-color:#ffffff;" >Campaign Name:</label>
                        <input class="form-control" type="text" name="campaignname" formControlName="campaignname" placeholder="" autofocus>
                      </div>
                  </div>
                                  
                  <div class="row">
                  <!--  <div class="form-group col-sm-3" style="background-color:#ffffff;"  [ngClass]="setShippingProducts()">
                      <label>Shipping Products:</label>
                      <br>
                      <label class="radio-inline"><input type="radio" name="shippingproducts" formControlName="shippingproducts" placeholder="" value="Yes">Yes</label>
                      <label class="radio-inline"><input type="radio" name="shippingproducts" formControlName="shippingproducts" placeholder="" value="No">No</label>
                    </div>-->
                    <div class="form-group col-sm-3" style="background-color:#ffffff;" [ngClass]="setProductCategory()">
                      <label for="sel1">Product Category :</label>
                      <select class="form-control" name="productcategory" formControlName="productcategory" placeholder="" id="sel1">
                          <option></option>
                        <option>Beauty & Fashion</option>
                        <option>Gaming & Apps</option>
                        <option>Health & Fitness</option>
                        <option>Pets</option>
                        <option>Tech</option>
                        <option>Others</option>
                      </select>
                    </div>
                    
                    <div class="form-group col-sm-3"  [ngClass]="setNoofInfu()">
                        <label>No of Influencers:</label>
                        <select class="form-control"  name="noofinfu" formControlName="noofinfu" placeholder=""  id="sel1">
                            <option></option>  
                          <option>1-3</option>
                            <option>4-7</option>
                            <option>7-12</option>
                            <option>12+</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-3" [ngClass]="setAudienceGender()">
                        <label for="sel1">Audience Gender:</label>
                        <select class="form-control"  name="audiencegender" formControlName="audiencegender" placeholder="" id="sel1">
                            <option></option>  
                          <option>All</option>
                            <option>Male</option>
                            <option>Female</option>
                          </select>
                      </div>
                      <div class="form-group col-sm-3"  [ngClass]="setAudienceAge()">
                        <label for="sel1">Audience Age:</label> 
                            <select class="form-control"  name="audienceage" formControlName="audienceage" placeholder=""  id="sel1">
                                <option></option>
                              <option>Any Age</option>
                              <option>13-17</option>
                              <option>18-24</option>
                              <option>25-34</option>
                              <option>35-44</option>
                              <option>45-54</option>
                              <option>55-64</option>
                              <option>65+</option>
                              
                            </select>
                      </div>
                    </div>



                </div>

                <button class="btn btn-primary" type="submit" [disabled]="!searchCampaignForm.valid"><i class="fa"></i> Search Campaigns</button>

              </form>
            </div>
          </div>
            
        </div>


        <div class="inner" style="width:100%">
          <div class="card" style="width:100%;">
            <h6 class="card-header" style="background-color: #808080">Open Campaigns</h6>
            <div class="card-block" style="height:300px;overflow:scroll;" >
                <ul><div *ngIf='campaigns.length === 0'>There are no open campaigns that match your criteria at this time. Please try again later.</div>
                    <li *ngFor="let camp of campaigns; let id=index;" style="padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;" >
                        <div class="container" style="padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;" >
                            <div class=row style="border-color: #3c8dbc;position:relative;   padding-top:16px;padding-right:0px;padding-left:0px;padding-bottom:0px;" >
                              <div class="form-group col-sm-4">
                               {{id+1}}      {{ camp.campaignname }}</div>
                              <div class="form-group col-sm-4">
                               <button type="button" class="btn" data-toggle="modal" attr.data-target="#myViewModal{{ id }}">View Details</button>
                               <!--  <span style="cursor: pointer;" type="button" class="badge badge-white" data-toggle="modal" attr.data-target="#myModal{{id}}">View Details</span>-->
                              </div>
                              <div class="form-group col-sm-4">
                                <button type="button" class="btn-link" data-toggle="modal" attr.data-target="#myProposalModal{{ id }}">Send Proposal</button>
                                <!--  <span style="cursor: pointer;" type="button" class="badge badge-white" data-toggle="modal" attr.data-target="#myModal{{id}}">View Details</span>-->
                               </div>
                            </div>
                          </div>
                        <!-- Modal -->
                        <div id="myViewModal{{ id }}" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                        
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{ camp.campaignname }}</h4>
                              </div>
                              <div class="modal-body">
                                  
                                  <p style="background-color: #F0F0F0">Channel: {{ camp.channel}}</p>
                                  <p style="background-color: #A2D7F7">Details: {{ camp.details}}</p>
                                  <p style="background-color: #F0F0F0">Content Type: {{ camp.contenttype}}</p>
                                  <p style="background-color: #A2D7F7">Secondary Channel: {{ camp.secchannel}}</p>
                                  
                                  <p style="background-color: #F0F0F0">Website URL: {{ camp.websiteurl}}</p>
                                  <p style="background-color: #A2D7F7">Product URL: {{ camp.producturl}}</p>
                                  <p style="background-color: #F0F0F0">Shipping Products: {{ camp.shippingproducts}}</p>
                                  <p style="background-color: #A2D7F7">Product Category: {{ camp.productcategory}}</p>
                                  <p style="background-color: #F0F0F0">Budget: {{ camp.budget}}</p>
                                  <p style="background-color: #A2D7F7">Deadline: {{ camp.deadline}}</p>
                                  <p style="background-color: #F0F0F0">No of Influencers: {{ camp.noofinfu}}</p>
                                  <p style="background-color: #A2D7F7">Audience Gender: {{ camp.audiencegender}}</p>
                                  <p style="background-color: #F0F0F0">Audience Age: {{ camp.audienceage}}</p>
                                  
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                        
                          </div>
                        </div> 
                      



                        <div id="myProposalModal{{ id }}" class="modal fade" role="dialog">
                          <div class="modal-dialog" >
                              <form [formGroup]="sendMessageForm" (ngSubmit)="sendProposalToCampaign(camp.userid,camp.campaignname,camp._id )" > 
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Proposal From  {{this.auth.currentUser.username}}</h4>
                              </div>
                              <div class="modal-body">
                                  <div class="container">                         
                                  <div class="row" style="background-color:#ffffff;">
                                    <label >For Campaign: {{camp.campaignname}}</label>
                                      <div class="col-sm-12 form-group" style="background-color:#ffffff;" [ngClass]="setMessageDetails()">
                                        <label >Message:</label>
                                        <textarea class="form-control" type="textarea" name="messagedetails" formControlName="messagedetails" placeholder=""></textarea>
                                      </div>
                                  </div>
                                  </div>
                                 
                              </div>
                              <div class="modal-footer">
                                <button  type="submit" class="btn btn-primary" ><i class="fa"></i>Send Proposal</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                
                              </div>
                            </div> 
                          </form>
                          </div>
                        </div>
                    </li>
                   </ul>
            </div>
          </div>
        </div>
       
      </section>

      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer" style="height:50px">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        Site By <a href="www.integratelogic.com">IntegrateLogic</a>
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2017 <a href="#">Inocove</a>.</strong> All rights reserved.
    </footer>
  </div>
</div>