<app-toast [message]="toast.message"></app-toast>
<div class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper" style='position:relative;top:-16px;padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px'>
  
    <!-- Main Header -->
    <div class="main-header" style='padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px'>
       
      <aside class="main-sidebar">
        <div style='position:relative;top:-30px;padding-left:16px;margin:auto;'>
          <a href="index.html"><img src="assets/images/inocove-logosm.png"></a>
        </div>
          <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar Menu -->
          <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Brands Dashboard</li>
            <li><a routerLink="/brandboard" routerLinkActive="active"><span>Home</span></a></li>
            <li><a routerLink="/brandcamp" routerLinkActive="active"><span>Campaigns</span></a></li>
            <li><a routerLink="/brandsearchinfu" routerLinkActive="active"><span>Influencers</span></a></li>
            <li class="active"><a routerLink="/brandmessages" routerLinkActive="active"><span>Messages</span></a></li>
            <li><a routerLink="/brandcontent" routerLinkActive="active"><span>Content</span></a></li>
          </ul>
          <!-- /.sidebar-menu -->
        </section>
        
        <!-- /.sidebar -->
    </aside>
  
  
      <!-- Header Navbar -->
      <nav class="navbar" role="navigation" style='padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;height:40px;'>
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu" style='padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px'>
          <ul class="nav navbar-nav" style='padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px'>
            <li><a routerLink="/brandboard"><span>Home</span></a></li>
            <li><a routerLink="/brandcamp"  ><span>Campaigns</span></a></li>
            <li><a routerLink="/brandsearchinfu" ><span>Influencers</span></a></li>
            <li><a routerLink="/brandmessages"  routerLinkActive="active"><span>Messages</span></a></li>
            <li><a routerLink="/brandcontent"><span>Content</span></a></li>
            <li>
           
            </li>
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
              <!-- Menu Toggle Button -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                <!-- The user image in the navbar-->
                <img src="assets/images/profile/{{this.auth.currentUser._id}}.png" class="user-image" alt="UI">
                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                <span class="hidden-xs">{{this.auth.currentUser.username}}</span>
              </a>
              <ul class="dropdown-menu">
                <!-- The user image in the menu -->
                <li class="user-header">
                  <img src="assets/images/profile/{{this.auth.currentUser._id}}.png" class="img-circle" alt="UI">
  
                  <p>
                      {{this.auth.currentUser.username}}
                  </p>
                </li>
  
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a routerLink="/brandprofile" routerLinkActive="active" class="btn btn-default btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                    <a routerLink="/logout" routerLinkActive="active" class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </li>
              </ul>
            </li>
  
          </ul>
        </div>
      </nav>
    </div>
    <!-- Left side column. contains the logo and sidebar -->
  
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Messages
        </h1>
        
      </section>
  
      <!-- Main content -->
      <section class="content container-fluid" style="min-height:650px">
  
        <div class="inner">
        <div class="card">
            <h6 class="card-header" style="background-color: #808080;">Inbox</h6>
            <div class="card-block" style="height:300px;overflow:scroll;">
              <ul><div *ngIf='receivedlist.length === 0'>You do not have any received messages in your inbox.</div>
                <li *ngFor="let receive of receivedlist; let id=index;" >
                  <div class="container" style="border:0px solid #3c8dbc;padding-top:10px;padding-right:0px;padding-left:0px;padding-bottom:0px;" >
                    <div class=row style="padding-top:10px;padding-right:0px;padding-left:0px;padding-bottom:0px;" >
                      <div class="form-group col-sm-4" style=" padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;">
                       {{id+1}}   &emsp; &emsp;  {{ receive.sendername }}  &emsp; {{ (receive.messagedetails).substr(0,15)+"...." }}
                      </div>
                      <div class="form-group col-sm-4" style=" padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;">
                         {{ ((receive.messagedate).substr(0,16)).replace("T"," ") }}
                       </div>
                      <div class="form-group col-sm-4" style=" padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;">
                       <button type="button" class="btn-link" data-toggle="modal" attr.data-target="#myModal{{ id }}">View Message</button>
                       <!--  <span style="cursor: pointer;" type="button" class="badge badge-white" data-toggle="modal" attr.data-target="#myModal{{id}}">View Details</span>-->
                      <!--/div -->
                      <!--div class="form-group col-sm-3" style="padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;" -->
                        <button type="button" class="btn-link" data-toggle="modal" attr.data-target="#myReplyModal{{ id }}">Reply</button>
                        <!--  <span style="cursor: pointer;" type="button" class="badge badge-white" data-toggle="modal" attr.data-target="#myModal{{id}}">View Details</span>-->
                        <button *ngIf="receive.isproposal" type="button" class="btn-link"  data-toggle="modal" attr.data-target="#myApproveModal{{ id }}" >Approve</button>
                        <!--  <span style="cursor: pointer;" type="button" class="badge badge-white" data-toggle="modal" attr.data-target="#myModal{{id}}">View Details</span>-->
                        
                       <!-- <button type="button" class="btn-link" data-toggle="modal" attr.data-target="#myDeleteModal{{ id }}">Delete</button>-->
                      </div>
                   </div>
                 </div>
                 <!-- Modal -->
                <div id="myDeleteModal{{ id }}" class="modal fade" role="dialog">
                   <div class="modal-dialog" >
                       <form  (ngSubmit)="deleteMessage(receive._id )" > 
                     <!-- Modal content-->
                     <div class="modal-content">
                       <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal">&times;</button>
                         <h4 class="modal-title">Confirm delete ?</h4>
                       </div>
                      
                       <div class="modal-footer">
                         <button  type="submit" class="btn btn-primary" ><i class="fa"></i>Delete Message</button>
                         <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                         
                       </div>
                     </div> 
                   </form>
                   </div>
                 </div>
                
                    <!-- Modal -->
                    <div id="myModal{{ id }}" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                    
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">From {{ receive.sendername}}</h4>
                          </div>
                          <div class="modal-body">
                              
                              <p style="background-color: #F0F0F0">Message: {{ receive.messagedetails}}</p>
                                                           
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                    
                      </div>
                    </div> 

                     <!-- Modal -->
                     <div id="myReplyModal{{ id }}" class="modal fade" role="dialog">
                      <div class="modal-dialog" >
                          <form [formGroup]="sendMessageForm" (ngSubmit)="sendMessageToInfluencer(receive.senderid,receive.sendername )" > 
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Message From  {{this.auth.currentUser.username}}</h4>
                          </div>
                          <div class="modal-body">
                              <div class="container">                         
                              <div class="row" style="background-color:#ffffff;">
                                <label >To: {{receive.sendername}}</label>
                                  <div class="col-sm-12 form-group" style="background-color:#ffffff;" [ngClass]="setMessageDetails()">
                                    <label >Message:</label>
                                    <textarea class="form-control" type="textarea" name="messagedetails" formControlName="messagedetails" placeholder=""></textarea>
                                  </div>
                              </div>
                              </div>
                             
                          </div>
                          <div class="modal-footer">
                            <button  type="submit" class="btn btn-primary" ><i class="fa"></i>Send Message</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            
                          </div>
                        </div> 
                      </form>
                      </div>
                    </div>

                    <!-- Modal -->
                    <div *ngIf="receive.isproposal" id="myApproveModal{{ id }}" class="modal fade" role="dialog">
                      <div class="modal-dialog" >
                          <form [formGroup]="sendApprovalForm" (ngSubmit)="setApproval(receive.senderid,receive.sendername,receive.campaignid )" > 
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Approval From  {{this.auth.currentUser.username}}</h4>
                          </div>
                          <div class="modal-body">
                              <div class="container">                         
                              <div class="row" style="background-color:#ffffff;">
                                <label >To: {{receive.sendername}}</label>
                                  <div class="col-sm-12 form-group" style="background-color:#ffffff;" [ngClass]="setApprovalDetails()">
                                    <label >Message:</label>
                                    <textarea class="form-control" type="textarea" name="approvaldetails" formControlName="approvaldetails" placeholder=""></textarea>
                                  </div>
                              </div>
                              
                              <div class="row" style="background-color:#ffffff;">
                                <label >By sending approval, you approve us to charge your account for the below mentioned amount. Every safe business transaction writes down the agreed terms.
                                  
                                  Inocove wants you to help you be protected, so we've had a sample agreement drawn up which could be suitable for your transaction.
                                  
                                  We can provide no guarantees, but we strongly recommend that you download this agreement and consider using it.</label>
                                  <a href="assets/pdf/sample_contract.pdf" target="_blank">Sample Agreement</a>
                                  <div class="col-sm-12 form-group" style="background-color:#ffffff;" [ngClass]="setApprovalAmount()">
                                    <label >Amount:</label>
                                    <input class="form-control" type="text" name="approvalamount" formControlName="approvalamount" placeholder="">
                                  </div>
                              </div>

                              </div>
                             
                          </div>
                          <div class="modal-footer">
                            <button  type="submit" class="btn btn-primary" [disabled]="!sendApprovalForm.valid"><i class="fa"></i>Send Approval</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            
                          </div>
                        </div> 
                      </form>
                      </div>
                    </div>
                  
                </li>
               </ul>
            </div>    
        </div>

        <div class="card" style="width:100%;" >
          <h6 class="card-header" style="background-color: #808080">Sent</h6>
          <div class="card-block" style="height:300px;overflow:scroll;">
            <ul><div *ngIf='sentlist.length === 0'>You do not have any sent messages.</div>
              <li *ngFor="let sent of sentlist; let id=index;" style="padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;" >
                <div class="container" style="padding-top:10px;padding-right:0px;padding-left:0px;padding-bottom:0px;" >
                  <div class="row" style="padding-top:10px;padding-right:0px;padding-left:0px;padding-bottom:0px;" >
                    <div class="form-group col-sm-4" nowrap style="padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;"  >
                     {{id+1}}   &emsp; &emsp;  {{ sent.receivername }} &emsp; {{ (sent.messagedetails).substr(0,15)+"...." }}
                    </div>
                    <div class="form-group col-sm-4" style="padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;">
                     {{ ((sent.messagedate).substr(0,16)).replace("T"," ") }}
                     </div>
                    <div class="form-group col-sm-4" style="padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;">
                     <button type="button" class="btn-link" data-toggle="modal" attr.data-target="#myModal{{ id }}">View Message</button>
                     <!--  <span style="cursor: pointer;" type="button" class="badge badge-white" data-toggle="modal" attr.data-target="#myModal{{id}}">View Details</span>-->
                    </div>
                   
                  </div>
                  
                </div>
                  <!-- Modal -->
                  <div id="myModal{{ id }}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                  
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">To {{ sent.receivername }}</h4>
                        </div>
                        <div class="modal-body">
                            
                            <p style="background-color: #F0F0F0">Message: {{ sent.messagedetails}}</p>
                                                       
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                  
                    </div>
                  </div> 
                
              </li>
             </ul>
          </div>    
      </div>
        </div>
       
  
      </section>
     
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  
    <!-- Main Footer -->
    <footer class="main-footer" style="height:50px">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        Site By <a href="www.integratelogic.com">IntegrateLogic</a>
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2017 <a href="#">Inocove</a>.</strong> All rights reserved.
    </footer>
  </div>
  </div>
  
  
  