
.menu{margin:0 auto; padding:100; height:30px; width:100%; display:block; background-color: #ffaa00;}
.menu li{ float:left;padding-left:100px;padding-right:100px; margin:100; list-style:none; display:inline;}
.menu li a{padding-top:15px;display:block; color:rgb(255,255,255); text-decoration:none; font:14px Verdana, Arial, Helvetica, sans-serif; cursor:pointer;}
