<div >
  
    <div id="page-wrapper">
      <!-- Header -->
        <header id="header" class="alt">
          <h1 id="logo"><a href="index.html"><img src="assets/images/inocove-logosm.png"></a></h1>
          <nav id="nav">
             <ul class="menu">
              <li><a routerLink="/influencer" routerLinkActive="active">Influencer</a></li>
              <li><a routerLink="/brands" routerLinkActive="active">Brands</a></li>
              <li><a routerLink="/faqs" routerLinkActive="active">FAQS</a></li>
              </ul>
          </nav>
        </header>
<!-- Banner -->
<section id="banner">
  
            <!--
              ".inner" is set up as an inline-block so it automatically expands
              in both directions to fit whatever's inside it. This means it won't
              automatically wrap lines, so be sure to use line breaks where
              appropriate (<br />).
            -->
            <div class="inner">
  
              <header>
                <h3>FAQS</h3>
              </header>
              <footer>
              <div  class="int">
              <p><strong>Brand</strong></p><hr />
                  <p><em>Are contracts necessary?</em></p>
                  <p>Yes, contracts are necessary to ensure that a brand is not liable for any FTC infractions.</p>
                  <hr />
                  <p><em>Does Inocove take a fee from the money agreed upon by the brand and influencer?</em></p>
                  <p>No, the only charge brands must pay on the platform is the contract fee. This is done to protect brands and provide a large pool of influencers.</p>
                  <hr />
                  <p><em>What are Inocove&rsquo;s other services?</em></p>
                  <p>Inocove also offers an Influencer finding service where we will develop a plan and find the right influencers for your product, brand values, brand image, and within your budget.</p>
                  <p>Inocove offers consulting services for any influencer marketing questions.</p>
                  <hr />
                  <p><em>How much should I offer the influencer?</em></p>
                  <p>Most influencers will not accept sponsorship for less than $100; however, this does not mean you should stick to that number offer what you can afford and offer to send them the product at no charge which they can keep after the job is done, and influencers will be happy to work with your brand.</p>
                  <hr />
                  <p><em>What is a good number of influencers for a campaign?</em></p>
                  <p>This is specific to the market and brand, set up a consulting phone appointment for the best answers.</p>
                  <hr />
                  <p><em>How should we structure our proposals?</em></p>
                  <p>Be general about certain Do&rsquo;s and Don&rsquo;ts in your campaign, but do not be too specific with what you want. Remember the influencers have a following for a reason and their subscribers expect a certain type of content if you change it too much the content will not work and influencers will not want to work with your brand.</p>
                  <hr />
                  <p><strong>Influencer </strong></p><hr />
                  <p><em>Do you send me a paper contract?</em></p>
                  <p>No, the contract is an e-signature</p>
                  <hr />
                  <p><em>When does the influencer get paid?</em></p>
                  <p>After a proposal has been accepted the money is held in escrow until the content is approved by the brand.</p>
                  <hr />
                  <p><em>How long does it take for funds to get released?</em></p>
                  <p>If the brand uses Inocove&rsquo;s content approval service we guarantee within 48 hours but hope to get it done in 24. If brands do not use our service we ask them to approve content or give feedback within 48 hours but can not guarantee it.</p>
                  <hr />
                  <p><em>How much money do you take from the influencer?</em></p>
                  <p>None, the platform is free for influencers and only requires a small contract fee from the brand. Inocove does <u>NOT</u> take a percentage of the money passed from the brand to the influencer.</p>
                  <hr />
                  <p><em>How many subscribers/ followers do I need to have to use the platform?</em></p>
                  <p>Inocove requires a minimum of 7,000 subscribers or followers, however, we are working on not having a blanket requirement and hopefully making it market specific.</p>
                  <p>&nbsp;</p>
                  <hr />
              </div>
             
                
              </footer>
  
            </div>
  
          </section>
        <!-- Main -->
       

      

      <!-- Footer -->
        <footer id="footer">

          <ul class="icons">
            <li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
            <li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
          </ul>

          <ul class="copyright">
            <li>&copy; Inocove LLC</li>
            <li><a routerLink="/privacy" routerLinkActive="active">Privacy Policy</a></li>
            <li><a routerLink="/terms" routerLinkActive="active">Terms and Conditions</a></li>
            <li>Website By: <a href="http://www.integratelogic.com">IntegrateLogic</a></li>
          </ul>

        </footer>

    </div>

  </div>