<div >
  
    <div id="page-wrapper">
      <!-- Header -->
        <header id="header" class="alt">
          <h1 id="logo"><a href="index.html"><img src="assets/images/inocove-logosm.png"></a></h1>
          <nav id="nav">
             <ul class="menu">
              <li><a routerLink="/influencer" routerLinkActive="active">Influencer</a></li>
              <li><a routerLink="/brands" routerLinkActive="active">Brands</a></li>
              <li><a routerLink="/faqs" routerLinkActive="active">FAQS</a></li>
              </ul>
          </nav>
        </header>

      <!-- Banner -->
        <section id="banner">

          <!--
            ".inner" is set up as an inline-block so it automatically expands
            in both directions to fit whatever's inside it. This means it won't
            automatically wrap lines, so be sure to use line breaks where
            appropriate (<br />).
          -->
          <div class="inner">

            <header>
              <h3>Inocove​ ​is​ ​a​ ​platform​ for ​brands</h3>
            </header>
            <p>Inocove​ ​is​ ​a​ ​platform​ ​where​ ​brands​ ​take​ ​control​ ​of​ ​the​ ​influencer​ ​marketing​ ​process.<br>
              ​ ​Use​ ​platform features​ ​to​ ​reach​ ​out​ ​directly​ ​to​ ​influencers​ ​on​ ​and​ ​across​ ​multiple​ ​platforms,​<br>
               ​create​ ​a​ ​campaign​ ​and hire​ ​influencers​ ​who​ ​apply​ ​for​ ​the​ ​contract,​<br>
                ​or​ ​just​ ​receive​ ​submissions​ ​from​ ​influencers​ ​looking​ ​for sponsorship. </p>
            <footer>
              <ul class="buttons"><div class="row" style="margin: 0 auto;    padding: 100;    height: 50px;    width: 80%;    display: block;  ">
                  <div class="col-md-6">
                    <button class="btn btn-primary" routerLink="/brandlogin" routerLinkActive="active" >   <i class="fa fa-sign-in"></i> Login</button>
                 
                    </div>
                 <div class="col-md-6">
                   <button class="btn btn-primary" routerLink="/brandregister" routerLinkActive="active" >    <i class="fa fa-user-plus"></i> Register</button>
                    </div>
                 </div>

                </ul>
            </footer>

          </div>

        </section>

      <!-- Main -->
        <article id="main">

          <header class="special container">
            <span class="icon fa-bar-chart-o"></span>
            <h2>3 steps to finding <strong>Influencers</strong></h2>
          </header>

          <!-- One -->
            <section class="wrapper style2 container special-alt">
              <div >
                <div  align="center">

                  <header>
                    <h4><ul><li>Setup Profile</li>
                      <li>&nbsp;</li>
                      <li>View Proposals from influencers</li>
                      <li>&nbsp;</li>
                      <li>Create campaign</li>
                      <li></li></ul></h4>
                  </header>
                  

                </div>
                
              </div>
            </section>

          

          <!-- Three -->
            

        </article>

      <!-- CTA -->
        <section id="cta">

          <header>
            <h4>
            <p>Inocove​ ​Does​ ​not​ ​take​ ​a​ ​percentage​ ​of​ ​the​ ​money​ ​passed​ ​between​<br>
               ​Influencers​ ​and​ ​Brands​ ​instead​ ​we charge​ ​a​ ​standard​ ​contract​ ​fee​ <br>
               ​which​ ​all​ ​influencers​ ​sign​ ​agreeing​ ​to​ ​adhere​ ​to​ ​FTC​ ​regulations.</p> 
                <p><strong>Why?</strong></p>
            <p>Brands who work with Influencers should use contracts to protect themselves<br>
                in the case of any FTC infractions. Inocove provides those contracts electronically. </p>
            </h4>
          </header>
          <footer>
            <ul class="buttons">
              <li><a routerLink="/influencer" routerLinkActive="active" class="button special">Influencer</a></li>
              <li><a routerLink="/brands" routerLinkActive="active" class="button">Brands</a></li>
            </ul>
          </footer>

        </section>

      <!-- Footer -->
        <footer id="footer">

          <ul class="icons">
            <li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
            <li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon circle fa-dribbble"><span class="label">Dribbble</span></a></li>
          </ul>

          <ul class="copyright">
            <li>&copy; Inocove LLC</li>
            <li><a routerLink="/privacy" routerLinkActive="active">Privacy Policy</a></li>
            <li><a routerLink="/terms" routerLinkActive="active">Terms and Conditions</a></li>
            <li>Website By: <a href="http://www.integratelogic.com">IntegrateLogic</a></li>
          </ul>

        </footer>

    </div>

  </div>